*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fonte_Regular';
}

@font-face {
    font-family: 'Fonte_Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html,body{
    height: 100%;
}

.descricao{
    padding-top: 30px;
}

.container{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1280px;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.photo > div{
    width: 50%;
}

.photo img{
    width: 100%;
    height: 500px;
}

h2{
    font-weight: lighter;
    padding-left: 30px;
    margin-bottom: 10px;
}

nav ul{
    text-decoration: none;
}

nav li{
    text-align: left;
    padding: 8px 0;
}

nav a{
    font-size: 19px;
    padding-left: 10px;
}

footer{
    width: 100%;
    background: rgb(56, 56, 56);
    text-align: center;
    margin-top: 10px;
}

footer > p{
    color: gray;
    font-weight: lighter;
    font-size: 18px;
    padding: 10px 0;
}