*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
}

h1{
    text-align: center;
    font-size: 32px;
    padding: 20px 0;
}

h2{
    text-align: center;
    padding-bottom: 10px;
}

img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 30px;
}

p{
    padding: 0 2% 20px 2%;
    margin: 0 auto;
    max-width: 1200px;
    line-height: 1.5;
    text-align: justify;
}

table{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}