*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fonte_Regular';
}

@font-face{
    font-family: 'Fonte_Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html,body{
    height: 100%;
    background-color: rgb(3, 53, 252);
}

.main-title{
    color: white;
    text-align: center;
    padding: 30px 0;
}

ol{
    padding-left: 70px;
}

ol li{
    font-size: 19px;
    font-weight: lighter;
    color: white;
}

ol img{
    padding-bottom: 50px;
    width: 650px;
    height: 450px;
}