*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fonte_Regular';
}

@font-face {
    font-family: 'Fonte_Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html,body{
    height: 100%;
    background: cornflowerblue;
}

h2{
    text-align: center;
    padding: 40px 0;
}

h3{
    padding-left: 30px;
    padding-bottom: 8px;    
    color: black;
}

.container{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1280px;
}

.container > div{
    
}

.where{
    background-image: url('../images/bg1.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.todo{
    background-image: url('../images/bg5.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.ideal{
    background-image: url('../images/bg2.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.employees{
    background-image: url('../images/bg3.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.tratados{
    background-image: url('../images/bg4.jpg');
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}