*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fonte_Regular';
}

@font-face {
    font-family: 'Fonte_Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

.container{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1200px;
    background-color:chocolate;
    border-radius: 8px;
}

html,body{
    height: 100%;
    background-image: url('../images/harry-potter-decoracao-003.jpg');
}

h1{
    font-size: 32px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}

.flex-single{
    width: 33.3%;
    text-align: center;
    padding: 0 1%;
}

.flex-single p{
    font-size: 22px;
    padding: 20px 0;
}

.flex-single .comida{
    width: 100%;
    height: 300px;
    background: purple;
    border-radius: 5px;
}

.flex-single button{
    padding: 8px 12px;
    margin: 20px 0;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
}

.flex-single button:hover{
    background: #ccc;
    border: 2px solid rgb(53, 53, 53);
    color: rgb(53, 53, 53);
}

.flex-single a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}