*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    background: darkmagenta;
    height: 100%;
}

.all{
    height: 100%;
}

.container{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1280px;
}

.box{
    height: 90%;
    width: 500px;
    background: white;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.box h2{
    color: #ccc;
    text-align: center;
    padding: 20px 0;
}

.box > .container{
    max-width: 400px;
    padding-top: 50px;
}

.box .item-1,
.item-2, .item-3,
.item-4{
    width: 100%;
    background: #ccc;
    height: 30px;
    margin-bottom: 10px;
}

.box .redondo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ccc;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
}

.box .footer{
    width: 200px;
    height: 30px;
    background: #ccc;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
}